/*font styles got from google fonts using at import and linking like a file/url */

@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

body {
  padding: 0;
  margin: 0;
}

.brand {
  float: none;
  font-size: 2.5rem;
  font-family: "Vidaloka", serif;
  color: #a70040;
  background-color: aliceblue;
  margin: 0;
  padding: 20;
}

/* The navigation menu */
.navBar {
  overflow: hidden;
  background-color: aliceblue;

  border-bottom: 1px solid #2b2d66;
}

/* Navigation links */
.navBar a {
  float: left;
  font-size: 1.2rem;
  font-family: "Vidaloka", serif;
  color: #2b2d66;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subNav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subNav .subNavBtn {
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #2b2d66;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navBar a:hover,
.subNav:hover .subNavBtn {
  background-color: #2b2d66;
  color: #ffb509;
}

/* Style the subnav content - positioned absolute */
.subNavContent {
  display: none;
  position: absolute;
  left: 0;
  background-color: aliceblue;
  width: 100%;
  z-index: 1;
  border-top: 1px solid #2b2d66;
}

/* Style the subnav links */
.subNavContent a {
  float: left;
  color: #2b2d66;
  text-decoration: none;
}

/* Add a background colour on hover */
.subNavContent a:hover {
  background-color: #2b2d66;
  color: #ffb509;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subNav:hover .subNavContent {
  display: block;
}

.subNav {
  font-family: "Vidaloka", serif;
}

.pageTitle {
  font-family: "Vidaloka", serif;
  font-size: 2.2rem;
  color: #ffb509;
  text-align: center;
}

/* Responsive nav */
.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #2b2d66;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .brand {
    text-align: center;
  }

  .navBar {
    display: none;
      align-items: center;
      flex-direction: column;
      width: 100%;
  }

  .toggle-button {
      display: flex;
  }

  .navBar.active {
    display: flex;
  }
  }

/* Recipe cards */

.recipecard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 50px 20px 50px;
}

.recipecard:nth-child(2n) {
  flex-direction: row-reverse;
  text-align: right;
}

.recipeimg {
  width: 30%;
  height: 180px;
  flex: 1;
  padding: 10px;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipecolumn {
  flex: 2;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .recipecard {
    flex-direction: column;
    align-items: center;
  }

  .recipecard:nth-child(2n) {
    flex-direction: column;
    text-align: left;
    align-items: center;
  }
  
.recipeimg {
  flex: 100%;
  padding: 0px;
}
  .recipecolumn {
    flex: 100%;
    padding: 0px;
  }
  .recipesummary {
    flex: 100%;
    padding: 0px;
  }
}

.postTitle {
  font-family: "Vidaloka", serif;
  font-weight: lighter;
  font-size: 1.2rem;
  text-decoration: none;
  color: #3d4857;
}

.recipesummary {
  color: #8492a4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.recipePageImage {
  display: flex;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.recipePageSummary {
  color: #8492a4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 20;
  max-width: 90ch;
  margin: 0 auto;
  text-align: center;
}

.postSubtitles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #3d4857;
  margin-left: 50;
  margin-right: 50;
}

.ingredientsList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  color: #3d4857;
  margin-left: 50;
  margin-right: 50;
}

@media screen and (max-width: 600px) {
  .ingredientsList {
    flex-direction: column;
  }
}

.method {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  color: #3d4857;
  max-width: 90ch;
  margin-left: 50;
  margin-right: 50;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .method{
    margin-left: 0;
  margin-right: 0; 
  }
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Footer */

.socialfooter {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-top: 1px solid #2b2d66;
}

.fa {
padding: 5px;
font-size: 30px;
width: 25px;
text-align: center;
text-decoration: none;
color: #2B2D66;
}


.fa:hover {
  opacity: 0.7;
}